@page "/files"
@using SheetList.Web.Models.DTOs
@inject HttpClient httpClient;
<h3>Files List Page</h3>

@code {
    public List<GetAllFileDTO> getAllFiles = new List<GetAllFileDTO>();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            getAllFiles = await httpClient.GetFromJsonAsync<List<GetAllFileDTO>>("/api/FileData/GetAllFileDatas");
        }
        catch (Exception exception)
        {
            Console.WriteLine(exception.Message);
        }
    }
}

@if (getAllFiles is not null && getAllFiles.Any())
{
    @foreach (var file in getAllFiles)
    {
        <a href="@($"/files/{file.Id}")" style="text-decoration:none; color:inherit;">
            <div class="container mb-1">
                <div class="col-8">
                    <ul class="list-group">
                        <li class="list-group-item" style="font-size: 30px;">
                            @file.FileName

                            <button class="btn btn-warning" style="margin-left:595px;">Update</button>
                            <button class="btn btn-danger">Delete</button>
                        </li>
                    </ul>
                </div>
            </div>
        </a>
    }
    <a href="/" class="btn btn-primary">Back</a>
}
